html{
    font-size: 20px;
}



h1{
    font-size: 2em;
    font-family: "Josefin San",sans-serif;
    text-align: center;
    letter-spacing: 1.2em;
    border-bottom: solid 3px rgb(115,115,114);
    text-shadow: 3px 2px 1px lightgreen;
}

.text-pink{
    font-family: "Arial","Meiryo",sans-serif;
    color: rgb(255,192,203);
    text-align: center;
}

.text-black{
    font-family: "Arial","Meiryo",sans-serif;
    color: black;
    text-align: center;
}

.text-skyblue{
    font-family: "Arial","Meiryo",sans-serif;
    color: skyblue;
    text-align: center;
}

.skyblue{
    color: skyblue;
}

.pink{
    color: rgb(255,192,203);
}

.text-bold{
    font-weight: bold;
}